.container {
    position: relative;

}

.commonPage {
    height: 100%;
}

/* 登录面板 */
.login-panel {
    padding: 12px;
    height: 100%;
}

/* 首页内容区 */
.home-Panel {
    padding: 12px;
    font-family: 'pingfang';
    height: calc(100% - 110px);
    overflow: auto;
}

.nodata.home-Panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 总内容区 */
.main-Panel {
    padding: 12px;
    font-family: 'pingfang';
    width: 100%;
    height: calc(100% - 55px);
    overflow: auto;
    position: relative;
}

/* 子页公共面板 */
.commonPanel {
    padding: 14px 11px;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid #c5d0e1;
    box-shadow: 0 4px 2px rgba(103, 179, 60, 0.2);
}

.specialCommonPanel.commonPanel {
    border: none
}

.content-panel {
    text-align: center;
    width: 100%;
}

/* 头部工具栏 --start*/
.toolbar {
    padding: 0 10px;
    height: 55px;
    position: relative;
    text-align: center;
}

.toolbar .icon-back {
    position: absolute;
    left: 14px;
    top: 1.4rem;
}

.toolbar .icon-add {
    position: absolute;
    right: 14px;
    top: 1.4rem;
    transform: rotate(0deg);
    transition: all ease 0.2s;
}

.toolbar .icon-animate {
    transform: rotate(45deg);
    transition: all ease 0.2s;
}

.toolBar-downList-panel {
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 63px;
    right: 10px;
}

.toolBar-downList-panel::before {
    content: "";
    width: 20px;
    height: 0px;
    font-size: 10px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -20px;
    left: 79%;
    z-index: -1;
}

.toolBar-downList-item {
    border-bottom: 1px solid #ddd;
}

.toolBar-downList-item:last-child {
    border-bottom: none;
}

.toolBar-downList-item div {
    padding: 10px;
    color: #333;
    font-size: 14px;
}

.toolBar-downList-item div:hover {
    color: rgb(94, 94, 94);
}

.toolBar-downList-item a {
    margin-left: 8px;
}

/* 顶部透明工具栏区 */
.normalToolBar {
    background: transparent;
}

/* 顶部填充色工具栏区 */
.greenToolBar {
    color: #fff;
    background-image: linear-gradient(to right, #73c500, #01a101);
}

.toolbar .title {
    font-size: 20px;
    text-align: center;
    line-height: 55px;
}

.right_link {
    font-size: 14px;
    position: absolute;
    top: 18px;
    right: 10px;
}

/* 头部工具栏 --end*/
footer {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}

/* 欢迎页btn */

.welcomePage footer .normalBtn {
    width: 50%;
    font-size: 16px;
}

/* 公共页底部btn */
.commonPage footer .normalBtn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
}

.commonPage footer {
    margin-top: 15px;
}

.container .normalBtn {
    width: 100%;
}

/* 登录--start */
.loginPanel {
    margin: 15px 0;
}

.loginPanel header {
    padding: 20px;
    font-size: 24px;
    color: #46b81b;
    text-align: center;
    font-weight: bold;
}

.loginPanel input {
    width: 80%;
    padding: 5px 0 5px 18px;
    outline: none;
    border: none;
    font-size: 16px;
}

.loginPanel ul {
    border: 1px solid #46b81b;
}

.loginPanel ul li {
    padding: 10px 20px;
    position: relative;
}

.loginPanel ul li i::after {
    content: '';
    border-left: 1px solid #46b81b;
    margin-left: 24px;
    height: 24px;
    position: absolute;
    top: 15px;
    left: 32px;
}

.loginPanel ul li:first-child {
    border-bottom: 1px solid #46b81b;
}

.loginPanel ul li a {
    position: absolute;
    top: 13px;
    right: 15px;
}

.loginPanel .isshow {
    position: absolute;
    top: 10px;
    right: 10px;
}

.loginPanel .prompt {
    padding: 10px 0;
    text-align: right;
    font-size: 16px;
}

.loginPanel .prompt a:hover {
    color: #4acc1b;
}

/* 登录--end */
.tipText {
    margin-bottom: 5px;
    text-align: justify;
}

.tipText p {
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
}

.tipText a.green-1 {
    display: inline;
    text-decoration: underline;
}

.tablePanel {
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid #c5d0e1;
    box-shadow: 0 6px 5px rgba(103, 179, 60, 0.2);
}

.tablePanel .layui-table[lay-skin=line] {
    border-width: 0;
    text-align: center;
}

.tablePanel .layui-table,
.layui-table-view {
    margin: 0;
}

.tablePanel .layui-table thead th {
    height: 50px;
    text-align: center;
    color: #000;
    font-size: 16px;
    padding: 9px 5px;
}

.tablePanel .layui-table tbody td {
    height: 50px;
    text-align: center;
    padding: 9px 5px;
    border-bottom: 1px solid #c2d0e3;
}

.tablePanel .layui-table tbody tr:last-child td {
    border-bottom: none;
}

.tablePanel .layui-table thead tr {
    background: #e4e4e4;
}

.tablePanel .normalBtn {
    padding: 3px 10px;
    border-radius: 30px;
}

/* 特殊表格 */
.autoHeight.tablePanel {
    height: 380px;
}

.subTable {
    overflow: auto;
    text-align: center;
    margin: 0;
}

.subTable thead th {
    text-align: center;
    border-top: 0;
    border-right: 0;
}

.subTable tr {
    position: relative;
}

.subTable .view {
    position: absolute;
}

.subTable thead th:first-child {
    border-left: 0;
}

.subTable thead th {
    color: #000;
    border-color: #000;
}

.tablePanel .subTable.layui-table tbody td {
    border-right: 0;
    border-bottom: 1px solid #000;
}

.tablePanel .subTable.layui-table tbody td:first-child {
    border-left: 0;
}

.tablePanel .subTable.layui-table tbody td.anomaly {
    color: #fff;
    background: #ff3500;
}

.tablePanel .subTable.layui-table tbody td.viewDetails {
    color: #fff;
    background: #4690fe;
    padding: 0 10px;
}

.tablePanel .subTable.layui-table tbody td.back {
    color: #fff;
    background: #0762ea;
}

.subTable tbody td {
    color: #000;
    border-color: #000;
}

.subTable.layui-table td,
.subTable.layui-table th {
    padding: 7px 5px;
    font-size: 18px;
}

.tablePanel .subTable.layui-table thead th {
    font-size: 12px;
    padding: 5px 10px;
    height: auto;
}

.tablePanel .subTable.layui-table tbody td {
    font-size: 12px;
    height: auto;
    padding: 4px 0;
}

.tablePanel .subTable.layui-table tbody tr:first-child td:first-child {
    text-decoration: none;
    color: #000;
}

.tablePanel .subTable.layui-table tbody tr td:first-child {
    text-decoration: underline;
    color: #0950fe;
}

/* 非表格类 */
/*  */
.fillResonPanel p {
    font-size: 18px;
}

.fillResonPanel section {
    margin-bottom: 10px;
}

.fillResonPanel .layui-textarea {
    min-height: 200px;
    font-size: 14px;
}

.subPanel {
    margin-bottom: 26px;
}

.subPanel p {
    font-size: 18px;
    margin-bottom: 7px;
    padding-left: 9px;
}

.subPanel span {
    padding-left: 9px;
}

.subPanel input {
    border-radius: 3px;
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #c5d0e1;
    margin-bottom: 12px;
}

.subPanel .font20 {
    font-size: 20px;
}

.specialCommonPanel .subPanel {
    margin-bottom: 0;
}

.specialCommonPanel .subPanel p {
    font-size: 16px;
    font-weight: bold;
}

.specialCommonPanel .subPanel input {
    font-size: 14px;
}

.specialCommonPanel .subPanel textarea {
    font-size: 14px;
    border: 1px solid #c5d0e1;
    min-height: 80px;
}

.specialSubPanel.subPanel {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.specialSubPanel.subPanel p {
    min-width: 154px;
    text-align: right;
}

.specialSubPanel.subPanel input {
    width: 50%;
    font-size: 14px;
    color: #000;
}

.priceUlPanel li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}

.priceUlPanel li:first-child {
    padding-top: 0;
}

.priceUlPanel li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.priceUlPanel li .title {
    font-size: 18px;
    margin-right: 16px;
    color: #67b33c;
}

.priceUlPanel li span {
    font-size: 14px;
}

/* 验证码登录 */
.retrievePwPanel .title {
    font-size: 26px;
    color: #000;
}

.subBigTitle {
    margin-bottom: 8px;
}

.retrievePwPanel .title .subTitle {
    font-size: 14px;
    color: #9faec5;
}

.verificationCodePanel {
    overflow: auto;
    margin-top: 40px;
}

.verificationCodePanel-ul li {
    width: calc((100% - 70px) / 6);
    height: 50px;
    float: left;
    border-bottom: 3px solid #cad6e1;
    margin-right: 14px;
}

.verificationCodePanel-ul li:last-child {
    margin-right: 0;
}

.verificationCodePanel-ul li input {
    outline: none;
    border: none;
    width: 100%;
    height: 44px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.retrievePwPanel .subPanel input {
    height: 40px;
    font-size: 14px;
}

.retrievePwPanel .commonPanel .subPanel {
    position: relative;
    margin-bottom: 0;
}

.retrievePwPanel .commonPanel a.icon-showDetailNor {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 8px;
}

.retrievePwPanel .icon-btnRight {
    top: 2px;
    right: 0px;
    height: 16px;
}

.normal-text {
    font-size: 14px;
    color: #000;
    margin-left: 6px;
}

/* 首页 */
.specail-listPanel li {
    margin-bottom: 10px;
}

.pig-manage {
    position: relative;
    display: block;
}

.pig-manage span {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pig-manage img {
    width: 100%;
}

.message-listPanel li {
    margin-bottom: 22px;
    text-align: center;
}

.message-date {
    padding: 2px 10px;
    background: #d6dede;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 50px;
    display: inline-block;
}

.message-panel {
    background: #f9f9fa;
    padding: 10px;
    text-align: left;
}

.message-title {
    font-size: 16px;
    color: #000;
    margin-bottom: 12px;
    padding-left: 20px;
    position: relative;
}

.message-title::before {
    content: '•';
    color: #fc2100;
    position: absolute;
    left: 0;
}

.alread .message-title {
    color: #666;
}

.alread .message-title::before {
    content: '•';
    color: #ccc;
    position: absolute;
    left: 0;
}

.none-panel {
    /* margin-top: 40%; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sub-message-text {
    font-size: 14px;
    color: #959595;
}

.nav ul {
    display: flex;
    padding: 5px;
    border-top: 1px solid #ededed;
}

.nav ul li {
    width: calc(100% / 3);
}

.nav ul li a {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav ul li span {
    margin-top: 4px;
}

.nav ul li.selected span {
    display: inline-block;
    color: #4acc1b;
}

.specail-pigPriceListPanel li {
    width: 49%;
    border-radius: 20px;
    text-align: left;
    margin-right: 2%;
    float: left;
    margin-bottom: 2%;
}

.specail-pigPriceListPanel li:nth-child(odd) {
    margin-left: 0;
}

.specail-pigPriceListPanel li:nth-child(even) {
    margin-right: 0;
}

.sub-pig-manage {
    font-size: 18px;
    font-weight: bold;
    color: #4b4b4b;
    position: relative;
    display: block;
}

.sub-pig-manage span {
    position: absolute;
    width: 80px;
    color: #4b4b4b;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
}

.sub-pig-manage img {
    width: 100%;
}

/* 预览/详情表格 */
.printTablePanel {
    overflow: auto;
}

.specialTablePanel.tablePanel {
    height: auto;
    margin-bottom: 20px;
}

.centerPos {
    display: table;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.subPos {
    display: table-cell;
}

.printTablePanel .table-panel.layui-table td,
.printTablePanel .table-panel.layui-table th {
    padding: 7px 5px;
    white-space: nowrap;
}

.subPos header {
    text-align: center;
}

.specialHeard {
    font-size: 20px;
}

.sub-header.special-sub-header {
    font-size: 16px;
    padding-bottom: 10px;
}

.special-sub-header p {
    padding-top: 5px;
}

.specialH5 {
    font-size: 12px;
    margin-top: 10px;
}

.special-table.table-panel thead tr th {
    font-size: 14px;
    border-color: #e4e4e4;
}

.special-table.table-panel tbody td {
    color: #717171;
    border-color: #e6e6e6;
}

.tablePanel .layui-table tbody tr:last-child td {
    border-bottom: 1px solid #e6e6e6;
}

.special-table.table-panel tbody td.black {
    color: #000;
}

.special-table .layui-textarea {
    min-height: 50px;
    border-width: 0;
}

.bold {
    font-weight: bold;
}

.sub-header {
    padding: 14px 0 15px;
    font-size: 18px;
}

.txtPanel {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.specialTxtPanel.txtPanel {
    font-size: 12px;
    padding: 0 10px;
}

.layui-table,
.layui-table-view {
    margin: 10px 0 0;
}

.table_bottom {
    border: 1px solid #e6e6e6;
    border-top: 0;
    display: flex;
}

.item {
    padding: 10px 0;
    text-align: center;
    border-right: 1px solid #e6e6e6;
}

.item:last-child {
    border-right: none;
}

.item_01 {
    width: 151px;
}

.item_02 {
    width: 336px;
}

.item_03 {
    width: calc(100% - 151px - 336px);
}

.table_bottomPanel {
    text-align: center;
    margin-top: -1px;
}

.table_bottomPanel tr:last-child td {
    padding: 0 15px;
}

.table-panel {
    overflow: auto;
    text-align: center;
    margin: 0;
}

.table-panel,
.table-panel thead th {
    text-align: center;
}

.table-panel thead th {
    color: #000;
    border-color: #000;
}

.table-panel tbody td {
    color: #000;
    border-color: #000;
}

.table-panel.layui-table td,
.table-panel.layui-table th {
    padding: 7px 5px;
}

.hr-bottom {
    border-bottom: 2px solid #666;
}

.bottom-panel {
    margin: 90px 0;
    text-align: right;
    font-size: 20px;
}

.bottom-panel p {
    margin: 20px 0;
}

.txtPanel span {
    padding: 5px 0;
}

.sendToPanel p {
    font-size: 16px;
    margin-bottom: 5px;
}

.sendToPanel .bigP {
    font-size: 18px;
}

.sendToPanel span {
    display: inline-block;
    min-width: 120px;
    margin-right: 12px;
}

.specialSendToPanel.sendToPanel p {
    font-size: 14px;
    margin-bottom: 3px;
}

.imgPanel {
    text-align: center;
    padding: 10px;
    margin: 30px 0;
}

.imgPanel img {
    height: 80px;
}

/* 遮罩面板 */
.maskPanel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.back-listPanel {
    border-radius: 10px 10px 0 0;
    background: #fff;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    max-height: 98%;
    overflow: auto;
    bottom: 0px;
}

.back-listPanel .cart {
    width: 100%;
    height: 30px;
    position: absolute;
    background: #fff;
    border-radius: 10px 10px 0 0;
}

.back-listPanel .cart::before {
    content: "";
    width: 10px;
    height: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #818fbb transparent transparent transparent;
    position: relative;
    left: 50%;
    top: 20px;
}

.back-listPanel-ul {
    height: calc(98% - 30px);
    margin-top: 20px;
    margin-bottom: 50px;
    overflow: auto;
    background: #fff;
}

.back-listPanel-ul li {
    padding: 16px;
    border-bottom: 3px solid #f2f2f2;

}

.listHead {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
}

.listContent {
    font-size: 14px;
    color: #5c5c5c;
    text-align: justify;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.windowBg {
    position: absolute;
    height: calc(100% + 55px);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: table;
}

.windowPanel {
    /* display: table-cell;
    vertical-align: middle; */
    margin-top: 160px;
}

.windowContentPanel {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
}

.windowContentPanel .headTxt {
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
    font-weight: bold;

}

.windowContentPanel .subHeadTxt {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
}

.windowContentPanel .content {
    font-size: 14px;
    color: #5c5c5c;
    margin-bottom: 20px;
    text-align: justify;
}

.windowContentPanel .fillBtn {
    width: 100%;
}

.windowContentPanel .closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -50px;
    left: calc((100% - 20px)/2);
}

.whiteSpace {
    white-space: nowrap;
}