.container {
    position: relative;

}

.commonPage {
    height: 100%;
}

/* 登录面板 */
.login-panel {
    padding: 12px;
    height: 100%;
}

/* 首页内容区 */
.home-Panel {
    padding: 12px;
    font-family: 'pingfang';
    height: calc(100% - 110px);
    overflow: auto;
}

.nodata.home-Panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 总内容区 */
.main-Panel {
    padding: 12px;
    font-family: 'pingfang';
    width: 100%;
    height: calc(100% - 55px);
    overflow: auto;
    position: relative;
}

.main-Panel.includeTab {
    padding: 0;
}

.main-Panel-border {
    border-radius: 5px;
    border: 1px solid #c3d2e6;
}

/* 子页公共面板 */
.commonPanel {
    overflow: auto;
    border-radius: 5px;
    border: 1px solid #c5d0e1;
    box-shadow: 0 4px 2px rgba(103, 179, 60, 0.2);
}

.specialCommonPanel.commonPanel {
    border: none
}

.content-panel {
    text-align: center;
    width: 100%;
}

/* 头部工具栏 --start*/
.toolbar {
    padding: 0 10px;
    height: 55px;
    position: relative;
    text-align: center;
}

.toolbar .icon-back {
    position: absolute;
    left: 14px;
    top: 1.4rem;
}

.toolbar .icon-add {
    position: absolute;
    right: 14px;
    top: 1.4rem;
    transform: rotate(0deg);
    transition: all ease 0.2s;
}

.toolbar .icon-animate {
    transform: rotate(45deg);
    transition: all ease 0.2s;
}

.toolBar-downList-panel {
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 63px;
    right: 10px;
}

.toolBar-downList-panel::before {
    content: "";
    width: 20px;
    height: 0px;
    font-size: 10px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -20px;
    left: 79%;
    z-index: -1;
}

.toolBar-downList-item {
    border-bottom: 1px solid #ddd;
}

.toolBar-downList-item:last-child {
    border-bottom: none;
}

.toolBar-downList-item div {
    padding: 10px;
    color: #333;
    font-size: 14px;
}

.toolBar-downList-item div:hover {
    color: rgb(94, 94, 94);
}

.toolBar-downList-item a {
    margin-left: 8px;
}

/* 顶部透明工具栏区 */
.normalToolBar {
    background: transparent;
}

/* 顶部填充色工具栏区 */
.greenToolBar {
    color: #fff;
    background-image: linear-gradient(to right, #73c500, #01a101);
}

.toolbar .title {
    font-size: 20px;
    text-align: center;
    line-height: 55px;
}

.right_link {
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 14px;
}

/* 头部工具栏 --end*/
footer {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}

/* 欢迎页btn */

.welcomePage footer .normalBtn {
    width: 50%;
    font-size: 16px;
}

/* 公共页底部btn */
.commonPage footer .normalBtn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
}

.commonPage footer {
    margin-top: 15px;
}

.container .normalBtn {
    width: 100%;
}

/* 表格 */
.tablePanel {
    height: 100%;
    overflow: auto;
    /* border-radius: 5px;
    border: 1px solid #c5d0e1;
    box-shadow: 0 6px 5px rgba(103, 179, 60, 0.2); */
}

.tablePanel .layui-table[lay-skin=line] {
    border-width: 0;
    text-align: center;
}

.tablePanel .layui-table,
.layui-table-view {
    margin: 0;
}

.tablePanel .layui-table thead tr {
    background: #f2f2f2;
}

.tablePanel .layui-table thead th {
    height: 50px;
    text-align: center;
    color: #000;
    font-size: 14px;
    padding: 9px 5px;
    border: 1px solid #e4e4e4;
}

.tablePanel .layui-table tbody td {
    height: 50px;
    text-align: center;
    padding: 9px 5px;
    color: #525252;
    border: 1px solid #e4e4e4;
}


.tablePanel .normalBtn {
    padding: 3px 10px;
    border-radius: 30px;
}

/* 申报展示列表 */
.common-ul li {
    padding: 12px 8px;
    font-size: 14px;
    border-bottom: 1px solid #c3d2e6;
    position: relative;
    display: flex;
    align-items: center;
}

.common-ul li.specailImgPanle {
    align-items: flex-start;
}

.common-ul li span {
    display: inline-block;
    min-width: 65px;
    margin-right: 16px;
}

.common-ul li .normalBtn {
    padding: 3px 12px;
}

.common-ul li .pos-ab {
    top: 10px;
    right: 10px;
}

.common-ul li:last-child {
    border-bottom: none;
}

.sub-ul-imgList div {
    display: inline-block;
    width: 69px;
    height: 69px;
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 6px;
    text-align: center;
}

.sub-ul-imgList img {
    width: 100%;
    height: 100%;
}

.insertInput-ul {
    height: calc(100% - 100px);
    overflow: auto;
}

.insertInput-ul li {
    display: flex;
    margin-bottom: 10px;
}

.insertInput-ul li input {
    width: calc((100% - 30px) / 3);
    outline: none;
    border: 1px solid #cbd6e7;
    border-radius: 5px;
    text-align: center;
    padding: 5px 8px;
    font-size: 18px;
    margin-right: 10px;
    color: #717171;
}

.insertInput-ul li input:focus {
    color: #171717;
    border: 1px solid #45bc08;
}

.insertInput-ul li input:first-child {
    width: 16%;
    background: #c7d3e5;
}

.insertInput-ul li input:first-child:focus {
    border: 1px solid #cbd6e7;
    cursor: unset;
}

.insertInput-ul li input:last-child {
    margin-right: 0;
}

/* 无边框申报 */
.notBorder.commonPanel {
    border: none;
    box-shadow: none;
}

.notBorder.commonPanel .common-ul li {
    border-bottom: none;
    padding: 6px 8px;
}

.notBorder input {
    width: 61%;
    border-radius: 3px;
    border: 1px solid #cbd6e7;
    padding: 5px 8px;
    margin-right: 8px;
}

.notBorder input:focus {
    color: #171717;
    border: 1px solid #45bc08;
}

.selectPanel {
    width: 61%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #cbd6e7;
    padding: 5px 8px;
    margin-right: 8px;
    position: relative;
    font-size: 13px;
}

.selectPanel.subWidth {
    width: 40%;
}

.notBorder .selectPanel input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0;
}

.notBorder .selectPanel input:focus {
    color: #171717;
    border: 1px solid transparent;
}

.chooseBtn {
    height: 38px;
    width: 46px;
    position: absolute;
    top: 0;
    right: 0;
}

.chooseBtn::before {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #778dab transparent transparent;
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.chooseBtn::after {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent;
    position: absolute;
    top: 12px;
    right: 13px;
    cursor: pointer;
}

.choose-sub-panel {
    width: 101%;
    border-top: 0;
    position: absolute;
    top: 33px;
    background: #fff;
    z-index: 1;
    left: -1px;
    border: 1px solid #cbd6e7;
    border-radius: 0 0 2px 2px;
}

.choose-sub-panel ul {
    overflow: auto;
    height: 80px;
}

.choose-sub-panel ul li {
    padding: 10px;
    text-align: left;
}

.notBorder.commonPanel .common-ul li .choose-sub-panel ul li {
    padding: 0px;
}

.choose-sub-panel ul li a {
    color: #000;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #d9e1ee;
}

.choose-sub-panel ul li a:hover {
    cursor: pointer;
    color: #000;
    background: #f2f2f2;
}

.hideDown {
    display: none;
}

/* tab面板 */
.tab-panel {
    text-align: center;
    color: #000;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.tab-panel li {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-panel li.selected a {
    padding: 9px 5px;
    border-bottom: 3px solid #01a101;
}

.autoHeight.tablePanel {
    height: auto;
}

.tablePanel .layui-table thead th.green,
.tablePanel .layui-table tbody td.green {
    color: #46b81b;
}

.redIcon {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ff4141;
    border-radius: 50px;
    margin-left: 6px;
}

.fixFooterPanel {
    height: calc(100% - 120px);
    overflow: auto;
}

.flex-between {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.whiteSpace {
    white-space: nowrap;
}

.common-ul .icon-radio {
    width: 14px;
    height: 14px;
    border-radius: 50px;
}

.radioPanel {
    width: 24%;
    margin-right: 1%;
    white-space: nowrap;
}

/* 遮罩面板 */
.selectOut {
    font-size: 14px;
    position: fixed;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    background: #ffffff;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
}

.selectOut.selectOutSignPanel {
    height: 200px;
}

.selectOut ul {
    position: relative;
    overflow: auto;
    height: auto;
    max-height: 400px;
    text-align: center;
}

.selectOut ul li {
    border-bottom: 1px solid #d0ddec;
    height: 5.0rem;
    line-height: 5.0rem;
    background: #fff;
}

.selectOut ul li a {
    display: inline-block;
    padding-left: 1rem;
}

.selectOut::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.selectOut .icon-checkBox {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid #bbd2dd;
}

.selectOut ul li.selected .icon-checkBox {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 5px solid #46b81b;
}

.selectOut .icon-radio {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1px solid #bbd2dd;
}

.selectOut ul li.selected .icon-radio {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 5px solid #46b81b;
}

.btnBox {
    position: relative;
    background: #46b81b;
    width: 100%;
    height: 5rem;
    line-height: 3.0rem;
    color: #fff;
}

.selectOut button {
    outline: none;
    border: none;
    padding: 1.2rem 2rem;
    position: absolute
}

.cancleBtn {
    background: transparent;
    left: 0;
}

.currenBtn {
    background: transparent;
    right: 0;
}

.signNamePanel {
    height: 150px;
    width: 100%;
    padding: 10px;
    background: #fff;
    position: absolute;
}

.signNameArea {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px dashed #0af;
    display: flex;
    justify-content: center;
    align-items: center;
}

.windowPanel {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
}

.windowPanel::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.windowContentPanel {
    background: #fff;
    border-radius: 5px;
    margin: 20px;
    position: relative;
}

.windowContentPanel .headerPanel {
    height: 50px;
    background: #46b81b;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.windowContentPanel .sub-content {
    padding: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: justify;
}

.windowContentPanel .closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -50px;
    left: calc((100% - 20px)/2);
}

.windowContentPanel.windowVideoPanel {
    width: 100%;
    margin: 0;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
}

.videoPanel {
    height: 180px;
}